.*
!.gitignore
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

eval/test-bench-alloc
eval/test-bench-read
eval/test-bench-steal
eval/test-exmap

Module.symvers
