tickTime=2000
dataDir={{ zookeeper_data_dir }}
clientPort=2181
initLimit=5
syncLimit=2
{% for host in groups['zookeepers'] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_host'] }}:2888:3888
{% endfor %}